{% extends 'Nav.html' %}

{% block pagecontent%}


{% if notification%}

<div class="d-flex justify-content-end align-items-center"
    style="width: 40%; margin: 0 auto; border: 1px solid #ddd; padding: 10px; box-sizing: border-box;">
    <a href="{% url 'clearnotifications' %}"> <b>clear</b></a>
</div>

{% for notif in notification%}
{% if notif.Type == "Request"%}

<div class="d-flex justify-content-between align-items-center"
    style="width: 40%; margin: 0 auto; border: 1px solid #ddd; padding: 10px; box-sizing: border-box;">
    <span class="username" style="white-space: normal;"><b>{{ notif.from_user }}</b> sent you a friend request</span>
    <p><b>{{ notif.created_at }}</b></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FriendRequestModal"
        data-notif-id="{{ notif.id }}" >Options</button>
</div>

{% else%}
<div class="d-flex justify-content-between align-items-center"
    style="width: 40%; margin: 0 auto; border: 1px solid #ddd; padding: 10px; box-sizing: border-box;">
    <span class="username" style="white-space: normal;">{{ notif.from_user }} Unknown notification</span>
    <p><b>{{ notif.created_at }}</b></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FriendRequestModal">Options</button>
</div>
{% endif %}

{% endfor %}

{%else%}
<center>
    No Notif
</center>

{%endif%}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Friends Modal -->
<div class="modal fade" id="FriendRequestModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="btn-group-vertical" role="group" aria-label="Options">
                    <a type="button" class="btn btn-success" id="Accept" href=""
                        style="margin-bottom: 10px;">Accept</a>
                    <a type="button" class="btn btn-danger" id="ignore" href=""
                        style="margin-bottom: 10px;">ignore</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#FriendRequestModal').on('show.bs.modal', function (event) {
        console.log('Modal is about to be shown.');

        var button = $(event.relatedTarget); // Button that triggered the modal
        
        // Debugging: Check the button and its data attribute
        console.log('Button that triggered the modal:', button);
        var notifId = button.data('notif-id');
        console.log('Notification ID:', notifId);

        var acceptUrlTemplate = '{% url "acceptFriendRequest" 0 %}';
        var ignoreUrlTemplate = '{% url "deleteNotification" 0 %}';
        
        var acceptUrl = acceptUrlTemplate.replace(/0/, notifId);
        var ignoreUrl = ignoreUrlTemplate.replace(/0/, notifId);
        
        var modal = $(this);
        modal.find('#Accept').attr('href', acceptUrl);
        modal.find('#ignore').attr('href', ignoreUrl);
        
        console.log('Updated Accept button href:', modal.find('#Accept').attr('href'));
        console.log('Updated Ignore button href:', modal.find('#ignore').attr('href'));
    });
</script>


{% endblock%}